COMPOSE_PROJECT_NAME=project
SLOT_TASK_HUBNAME=<FunctionsTemplateSlotTaskName>
###
# Docker Compose Envs
###
COSMOSDB_PORT=3000
API_GATEWAY_PORT=80

###
# Azure Storages Envs
###
FUNCTIONS_WORKER_RUNTIME=node
QueueStorageConnection=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://fnstorage:10000/devstoreaccount1;QueueEndpoint=http://fnstorage:10001/devstoreaccount1;TableEndpoint=http://fnstorage:10002/devstoreaccount1;
AzureWebJobsStorage=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://fnstorage:10000/devstoreaccount1;QueueEndpoint=http://fnstorage:10001/devstoreaccount1;TableEndpoint=http://fnstorage:10002/devstoreaccount1;

LOLLIPOP_GET_ASSERTION_API_KEY=foo
LOLLIPOP_GET_ASSERTION_BASE_URL=foo

###
# Fast Login Audit log storage
###
FAST_LOGIN_AUDIT_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://fnstorage:10000/devstoreaccount1;QueueEndpoint=http://fnstorage:10001/devstoreaccount1;TableEndpoint=http://fnstorage:10002/devstoreaccount1;

###
# Cosmos DB envs
###
COSMOS_CONNECTION_STRING=AccountEndpoint=https://cosmosdb:3001/;AccountKey=dummykey;
COSMOS_DB_NAME=testdb

# needed to connect to cosmosdb server
NODE_TLS_REJECT_UNAUTHORIZED=0

###
# AppInsights
###
APPINSIGHTS_INSTRUMENTATIONKEY=dummykey

###
# BackendInternal
###
FETCH_TIMEOUT_MS=5000
BACKEND_INTERNAL_BASE_URL=foo
BACKEND_INTERNAL_API_KEY=foo
